You have to work on the [University dataset](https://drive.google.com/drive/folders/1Hs3nRtK_F3h8eg59B4-TD1DEua6g8Klv?usp=sharing). It contains three different university rankings:
*  The Times Higher Education World University Ranking, shortly *Times*,
*  the Academic Ranking of World Universities, shortly *Shanghai*,
*  the Center for World University Rankings, shortly *cwur*.

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com).

## Elenco variabili usate:
##### - timesData = dataframe "timesData.csv" contenente le colonne ['world_rank', 'university_name', 'country', 'teaching', 'international','research', 'citations', 'income', 'total_score', 'num_students','student_staff_ratio', 'international_students', 'female_male_ratio','year']
##### - shanghaiData = dataframe "shanghaiData" contenente le colonne ['world_rank', 'university_name', 'national_rank', 'total_score','alumni', 'award', 'hici', 'ns', 'pub', 'pcp', 'year']
##### - cwurData = dataframe "cwurData" contenente le colonne ['world_rank', 'institution', 'country', 'national_rank','quality_of_education', 'alumni_employment', 'quality_of_faculty','publications', 'influence', 'citations', 'broad_impact', 'patents','score', 'year']
##### - timesDataIncomeNotNull = dataframe timesData rimuovendo le row con income mancante
##### - timesDataMaleFemaleNotNull = dataframe timesData rimuovendo le row con conteggio studenti o ratio M/F mancante
##### - universityListUnique[Times/Shangai/Cwur] = lista dei nomi delle università senza ripetizioni prese dai dataset di input
##### - mostRecent = timesDataIncomeNotNull dataframe ma mantenendo solo le date più recenti di ogni università
##### - lastRecent = timesDataIncomeNotNull dataframe ma mantendo solo le date meno recenti di ogni università
##### - incomeDifference = dataframe contenente per ogni università di timesData la differenza di income tra l'anno più recente e quello meno recente
##### - maleFemaleStudentsCount = dataframe contente il conteggio totale di studenti con proporzione m/f raggruppati per country
##### - datasetRanking = dataset ottenuto con una full outer join dei tra dataset di input mostrando il ranking più recente per università
##### - mostRecent[Times/Shanghai/Cwur] = datasets contenenti i dati più recenti di ogni università presi dai tre diversi dataset di input

### Analisi e pulizia dei dataset:

In [1]:
import pandas as pd
import re
import numpy as np

#importazione dei dataset
timesData = pd.read_csv("timesData.csv")
shanghaiData = pd.read_csv("shanghaiData.csv")
cwurData = pd.read_csv("cwurData.csv")

#controllo che la colonna income di timesData non contenga valori nulli o il carattere "-", altrimenti elimino la riga
timesDataIncomeNotNull = timesData.drop(timesData.index[timesData["income"] == '-'])
timesDataIncomeNotNull = timesDataIncomeNotNull.dropna(subset=["income"])
#trasformo la colonna income in double
try:
    timesDataIncomeNotNull = timesDataIncomeNotNull.astype({'income': 'double'})
except:
    print("Non è stato possibile convertire la colonna income")


#controllo che le colonne num_students e male_female_ratio non siano nulle, altrimenti elimino la riga
timesDataMaleFemaleNotNull = timesData.dropna(subset=["num_students","female_male_ratio"])
timesDataMaleFemaleNotNull = timesDataMaleFemaleNotNull.drop(timesDataMaleFemaleNotNull.index[timesDataMaleFemaleNotNull["female_male_ratio"] == '-'])
timesDataMaleFemaleNotNull["num_students"] = timesDataMaleFemaleNotNull["num_students"].str.replace(",","")
try:
    timesDataMaleFemaleNotNull = timesDataMaleFemaleNotNull.astype({'num_students': 'int32'})
except:
    print("Non è stato possibile convertire la colonna num_students")

### 1. For each university, extract from the *times* dataset the most recent and the least recent data, obtaining two separate dataframes <font color='green'>Done</font>

In [2]:
#ottengo dal dataset "timesData" la lista con i nomi di tutte le università prese una sola volta e inserisco in "universityListUnique"
universityListUniqueTimes = []
universityListUniqueTimes = timesDataIncomeNotNull["university_name"].unique()
mostRecent = pd.DataFrame(columns = timesDataIncomeNotNull.columns)
lastRecent = pd.DataFrame(columns = timesDataIncomeNotNull.columns)
#per ogni università inserisco nei rispettivi dataset solo le riga con la data meno recente e più recente 
for university in universityListUniqueTimes:
    mostRecent = mostRecent.append((timesDataIncomeNotNull[timesDataIncomeNotNull["university_name"] == university].sort_values("year")).tail(1))
    lastRecent = lastRecent.append((timesDataIncomeNotNull[timesDataIncomeNotNull["university_name"] == university].sort_values("year")).head(1))

### 2. For each university, compute the improvement in `income` between the least recent and the most recent data points <font color='green'>Done</font>

In [3]:
#popolo il dataset incomeDifference calcolando per ogni università la differenza di income tra il dato più recente e meno recente
incomeDifference = pd.DataFrame(columns = ["University", "Income_difference"])
for university in universityListUniqueTimes:
    differenceCount = round(float((mostRecent[mostRecent["university_name"] == university]["income"])) - float((lastRecent[lastRecent["university_name"] == university]["income"])),2)
    incomeDifference = incomeDifference.append(pd.Series({'University':university, 'Income_difference':differenceCount }), ignore_index=True)
incomeDifference

                                University  Income_difference
0                       Harvard University               10.7
1       California Institute of Technology               14.1
2    Massachusetts Institute of Technology                7.9
3                      Stanford University               -1.0
4                  University of Cambridge               -2.0
..                                     ...                ...
772                      Xidian University                0.0
773                    Yeungnam University                0.0
774            Yıldız Technical University                0.0
775               Yokohama City University                0.0
776           Yokohama National University                0.0

[777 rows x 2 columns]

### 3. Find the university with the largest increase computed in the previous point <font color='green'>Done</font>

In [4]:
incomeDifference[incomeDifference["Income_difference"] == incomeDifference["Income_difference"].max()]

     University  Income_difference
245  TU Dresden               67.8

### 4. For each ranking, consider only the most recent data point. For each university, compute the maximum difference between the rankings (e.g. for *Aarhus University* the value is 122-73=49). Notice that some rankings are expressed as a range <font color='green'>Done</font>

In [4]:
#per ogni dataset di input prelevo solamente i dati più recenti di ogni università
mostRecentTimes = timesData.sort_values(["university_name","year"]).groupby("university_name").tail(1)
mostRecentTimes = mostRecentTimes[["university_name", "world_rank"]]
mostRecentShangai = shanghaiData.sort_values(["university_name","year"]).groupby("university_name").tail(1)
mostRecentShangai = mostRecentShangai[["university_name", "world_rank"]]
mostRecentCwur = cwurData.sort_values(["institution","year"]).groupby("institution").tail(1)
mostRecentCwur = mostRecentCwur[["institution", "world_rank"]]
mostRecentCwur.rename(columns={"institution":"university_name","world_rank":"world_rank_cwur"}, inplace=True)
mostRecentShangai.rename(columns={"world_rank":"world_rank_shangai"}, inplace=True)
mostRecentTimes.rename(columns={"world_rank":"world_rank_times"}, inplace=True)

#pulisco la colonna world rank di ogni dataset per poter poi confrontare i valori(utilizzando la funzione splitFun)
def splitFun(s):
    x = re.search('\d+', s)
    if x: 
        return(x.group())
#mostRecentCwur: contiene già valori corretti
mostRecentCwur.dropna(subset=["university_name","world_rank_cwur"],inplace=True)
mostRecentCwur = mostRecentCwur.astype({"world_rank_cwur":int})
#mostRecentShangai: viene formattata la colonna world rank per ottenere solo valori interi 
mostRecentShangai["world_rank_shangai"] = mostRecentShangai["world_rank_shangai"].apply(splitFun)
mostRecentShangai.dropna(subset=["university_name","world_rank_shangai"],inplace=True)
mostRecentShangai = mostRecentShangai.astype({"world_rank_shangai":int})
#mostRecentTimes:viene formattata la colonna world rank per ottenere solo valori interi
mostRecentTimes["world_rank_times"] = mostRecentTimes["world_rank_times"].apply(splitFun)
mostRecentTimes.dropna(subset=["university_name","world_rank_times"],inplace=True)
mostRecentTimes = mostRecentTimes.astype({"world_rank_times":int})

#dai tre dataset appena creati compongo il dataset "datasetRanking" ottenuto con una full outer join per mostrare il ranking di ogni università
datasetRanking = pd.merge(mostRecentCwur,(pd.merge(mostRecentTimes, mostRecentShangai, on = "university_name", how = "outer")), on = "university_name", how = "outer")

#creo la colonna maxDifference, nel dataset appena creato, ottenuta dalla differenza del valore massimo e il valore minimo del rank di ogni università
def maxDifferenceRowFun(row):
    return max([row["world_rank_times"],row["world_rank_cwur"],row["world_rank_shangai"]])-min([row["world_rank_times"],row["world_rank_cwur"],row["world_rank_shangai"]])
datasetRanking["maxDifference"] = datasetRanking.apply(maxDifferenceRowFun,axis=1)
datasetRanking

,university_name,world_rank_cwur,world_rank_times,world_rank_shangai,maxDifference
0,AGH University of Science and Technology,782.0,601.0,NaN,181.0
1,Aalborg University,565.0,201.0,301.0,364.0
2,Aalto University,421.0,251.0,401.0,170.0
3,Aarhus University,122.0,106.0,73.0,49.0
4,Aberystwyth University,814.0,301.0,NaN,513.0
...,...,...,...,...,...
1447,Vrije Universiteit Brussel (VUB),NaN,NaN,201.0,NaN
1448,Vrije University Brussel,NaN,NaN,301.0,NaN
1449,Washington State University - Pullman,NaN,NaN,201.0,NaN
1450,Western University,NaN,NaN,201.0,NaN
1451,Xian Jiao Tong University,NaN,NaN,201.0,NaN

### 5. Consider only the most recent data point of the *times* dataset. Compute the number of male and female students for each country. <font color='green'>Done</font>

In [5]:
#considero solo l'anno più recente del dataset timesDataMaleFemaleNotNull 
maleFemaleStudentsCount = timesDataMaleFemaleNotNull[timesDataMaleFemaleNotNull["year"] == timesDataMaleFemaleNotNull["year"].max()]
#per ogni riga del dataset "timesDataMaleFemale" aggiungo la colonna male count calcolata conoscendo il numero totale di studenti con il ratio tra maschi e femmine
maleFemaleStudentsCount.insert(1, "femaleCount", 0)
for index, row in maleFemaleStudentsCount.iterrows():
    searchObj = (re.search( r'(\d*) : (\d*)', row["female_male_ratio"]))
    numOfStudents = int(maleFemaleStudentsCount["num_students"][index])
    maleFemaleStudentsCount["femaleCount"][index] = (int(searchObj.group(1)) / 100) * numOfStudents
#raggruppo il dataset "timesDataMaleFemaleNotNull" per country e sommo il numero totale di studenti con la relativa differenza tra maschi e femmine
maleFemaleStudentsCount = (maleFemaleStudentsCount.groupby("country"))[["num_students", "femaleCount"]].sum()
#aggiungo per completezza il conteggio delle femmine calcolato dalla differenza tra num_students e maleCount
maleFemaleStudentsCount["maleCount"] = maleFemaleStudentsCount["num_students"] - maleFemaleStudentsCount["femaleCount"]
maleFemaleStudentsCount

C:\Users\gabri\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\gabri\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

                          num_students  femaleCount  maleCount
country
Argentina                       108373        67191      41182
Australia                       713376       391722     321654
Austria                         134477        68362      66115
Bangladesh                       62716        21323      41393
Belarus                          29303        20219       9084
...                                ...          ...        ...
Uganda                           37340        18670      18670
Ukraine                          37096        17845      19251
United Arab Emirates             14447         9515       4932
United Kingdom                 1324842       711775     613067
United States of America       3150689      1597354    1553335

[70 rows x 3 columns]

### 6. Find the universities where the ratio between female and male is below the average ratio (computed over all universities) <font color='green'>Done</font>

In [6]:
#considero solo i dati più recenti per una questione di consistenza dell'esercizio
timesDataMaleFemaleNotNull = timesDataMaleFemaleNotNull[timesDataMaleFemaleNotNull["year"] == timesDataMaleFemaleNotNull["year"].max()]
#aggiungo al dataset timesDataMaleFemaleNotNull la colonna contente il rapporto tra maschi e femmine nel range 0-1 (0=solo femmine, 1=solo maschi)
listaRatio = []    
for row in timesDataMaleFemaleNotNull["female_male_ratio"]:
    listaRatio.append(int(re.search(r'(\d*) : (\d*)', row).group(1))/100)
timesDataMaleFemaleNotNull["ratioInt"] = listaRatio
print("La media è :" + str(timesDataMaleFemaleNotNull["ratioInt"].mean()))
timesDataMaleFemaleNotNull = timesDataMaleFemaleNotNull[timesDataMaleFemaleNotNull["ratioInt"] <= timesDataMaleFemaleNotNull["ratioInt"].mean()]
timesDataMaleFemaleNotNull[["world_rank", "university_name" ,"country", "female_male_ratio", "year", "ratioInt"]]

La media è :0.49538043478260835

,world_rank,university_name,country,female_male_ratio,year,ratioInt
1803,1,California Institute of Technology,United States of America,33 : 67,2016,0.33
1804,2,University of Oxford,United Kingdom,46 : 54,2016,0.46
1805,3,Stanford University,United States of America,42 : 58,2016,0.42
1806,4,University of Cambridge,United Kingdom,46 : 54,2016,0.46
1807,5,Massachusetts Institute of Technology,United States of America,37 : 63,2016,0.37
...,...,...,...,...,...,...
2597,601-800,Xidian University,China,29 : 71,2016,0.29
2598,601-800,Yeungnam University,South Korea,48 : 52,2016,0.48
2599,601-800,Yıldız Technical University,Turkey,36 : 64,2016,0.36
2601,601-800,Yokohama National University,Japan,28 : 72,2016,0.28
2602,601-800,Yuan Ze University,Taiwan,43 : 57,2016,0.43

### 7. For each country, compute the fraction of the students in the country that are in one of the universities computed in the previous point (that is, the denominator of the ratio is the total number of students over all universities in the country). <font color='green'>Done</font>

In [7]:
#aggiungo la colonna ratioBelowAvg al dataset contente il conteggio degli studenti divisi per country (punto 5)
maleFemaleStudentsCount = maleFemaleStudentsCount.assign(ratioBelowAvg = (timesDataMaleFemaleNotNull.groupby("country").sum()["num_students"] / (maleFemaleStudentsCount["num_students"])))
#sostituisco i risultati NaN con 0 in quanto significa che non ci sono università con ratio più bassso della media
maleFemaleStudentsCount["ratioBelowAvg"] = maleFemaleStudentsCount["ratioBelowAvg"].fillna(0)
maleFemaleStudentsCount["ratioBelowAvg"]

country
Argentina                   0.000000
Australia                   0.152647
Austria                     0.398633
Bangladesh                  1.000000
Belarus                     0.000000
                              ...
Uganda                      0.000000
Ukraine                     0.611548
United Arab Emirates        0.361736
United Kingdom              0.139364
United States of America    0.327257
Name: ratioBelowAvg, Length: 70, dtype: float64

### 8. Read the file `educational_attainment_supplementary_data.csv`, discarding any row with missing `country_name` or `series_name` <font color='green'>Done</font>

In [8]:
attainment = pd.read_csv("educational_attainment_supplementary_data.csv")
attainment = attainment.dropna(subset=["country_name", "series_name"])
attainment

,country_name,series_name,1985,1986,1987,1990,1991,1992,1993,1995,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2015
0,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.33,NaN,NaN,0.44,NaN,NaN,NaN,0.57,...,0.86,NaN,NaN,NaN,NaN,1.27,NaN,NaN,NaN,NaN
1,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1.03,NaN,NaN,1.26,NaN,NaN,NaN,1.54,...,2.18,NaN,NaN,NaN,NaN,2.64,NaN,NaN,NaN,NaN
2,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.83,NaN,NaN,0.95,NaN,NaN,NaN,1.26,...,1.01,NaN,NaN,NaN,NaN,2.45,NaN,NaN,NaN,NaN
3,Afghanistan,"Barro-Lee: Average years of primary schooling,...",2.34,NaN,NaN,2.22,NaN,NaN,NaN,2.37,...,2.26,NaN,NaN,NaN,NaN,3.55,NaN,NaN,NaN,NaN
4,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.54,NaN,NaN,0.92,NaN,NaN,NaN,0.94,...,2.00,NaN,NaN,NaN,NaN,1.29,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79045,Zimbabwe,UIS: Percentage of population age 25+ with som...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.84323,NaN,NaN
79046,Zimbabwe,UIS: Percentage of population age 25+ with som...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.68491,NaN,NaN
79047,Zimbabwe,UIS: Percentage of population age 25+ with unk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99412,NaN,NaN
79048,Zimbabwe,UIS: Percentage of population age 25+ with unk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.77150,NaN,NaN
79049,Zimbabwe,UIS: Percentage of population age 25+ with unk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.14588,NaN,NaN

### 9. From `attainment` build a dataframe with the same data, but with 4 columns: `country_name`, `series_name`, `year`, `value` <font color='green'>Done</font>

In [9]:
attainmentFourColumns = pd.melt(attainment, id_vars=["country_name","series_name"], value_vars=["1985","1986","1987","1990","1991","1992","1993","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2015"])
#rimuovo le colonne con value null
attainmentFourColumns = attainmentFourColumns.dropna(subset=["value"])
#rinomino la colonna variable in year
attainmentFourColumns = attainmentFourColumns.rename(columns={"variable": "year"})
attainmentFourColumns

,country_name,series_name,year,value
0,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1985,0.33000
1,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1985,1.03000
2,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1985,0.83000
3,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1985,2.34000
4,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1985,0.54000
...,...,...,...,...
2054020,West Bank and Gaza,UIS: Percentage of population age 25+ with som...,2013,1.48356
2054021,West Bank and Gaza,UIS: Percentage of population age 25+ with som...,2013,1.88820
2054022,West Bank and Gaza,UIS: Percentage of population age 25+ with unk...,2013,0.00000
2054023,West Bank and Gaza,UIS: Percentage of population age 25+ with unk...,2013,0.00000
2054024,West Bank and Gaza,UIS: Percentage of population age 25+ with unk...,2013,0.00000

### 10. For each university, find the number of rankings in which they appear (it suffices to appear in one year for each ranking). <font color='green'>Done</font>

In [10]:
#creo una lista di università presenti in ogni ranking 
universityListUniqueTimes = timesData["university_name"].unique()
universityListUniqueShanghai = shanghaiData["university_name"].unique()
universityListUniqueCwur = cwurData["institution"].unique()
#unisco le tre liste senza ripetizioni per stilare tutte le università
listaUniverstitaCompleta = np.concatenate((universityListUniqueCwur, universityListUniqueTimes, universityListUniqueTimes))
listaUniverstitaCompleta = np.unique(listaUniverstitaCompleta)
count = 0
for uni in listaUniverstitaCompleta:
    if (uni in universityListUniqueCwur) == True:
        count+=1
    if (uni in universityListUniqueShanghai) == True:
        count+=1
    if (uni in universityListUniqueTimes) == True:
        count+=1
    print(uni + " : " + str(count))
    count= 0

AGH University of Science and Technology : 2
Aalborg University : 3
Aalto University : 3
Aarhus University : 3
Aberystwyth University : 2
Adam Mickiewicz University : 1
Adam Mickiewicz University in Poznań : 1
Ain Shams University : 1
Aix-Marseille University : 3
Ajou University : 2
Albany Medical College : 1
Albert Ludwig University of Freiburg : 1
Alexandria University : 2
Alexandru Ioan Cuza University : 1
Aligarh Muslim University : 1
All India Institute of Medical Sciences, New Delhi : 1
American University : 1
American University of Beirut : 2
American University of Sharjah : 1
Amirkabir University of Technology : 2
Amrita University : 1
Anadolu University : 1
Andhra University : 1
Ankara University : 1
Aristotle University of Thessaloniki : 3
Arizona State University : 3
Asia University, Taiwan : 1
Aston University : 2
Athens University of Economics and Business : 1
Auburn University : 3
Auckland University of Technology : 1
Austral University of Chile : 1
Australian National University : 2
Autonomous University of Barcelona : 3
Autonomous University of Madrid : 3
Babeş-Bolyai University : 1
Babeș-Bolyai University : 1
Banaras Hindu University : 1
Bangor University : 3
Bar-Ilan University : 3
Bauman Moscow State Technical University : 1
Baylor College of Medicine : 2
Baylor University : 1
Bayreuth University : 1
Beihang University : 2
Beijing Institute of Technology : 2
Beijing Jiaotong University : 1
Beijing Normal University : 2
Beijing University of Chemical Technology : 1
Beijing University of Technology : 1
Belarusian State University : 1
Ben-Gurion University of the Negev : 3
Bielefeld University : 3
Bilkent University : 2
Binghamton University : 1
Binghamton University, State University of New York : 1
Birkbeck, University of London : 3
Birla Institute of Technology and Science, Pilani : 1
Blaise Pascal University : 2
Boston College : 3
Boston University : 3
Bournemouth University : 1
Bowling Green State University : 1
Boğaziçi University : 2
Brandeis University : 3
Braunschweig University of Technology : 1
Brigham Young University : 2
Brno University of Technology : 1
Brock University : 1
Brown University : 3
Brunel University : 2
Brunel University London : 1
Budapest University of Technology and Economics : 2
Cairo University : 3
California Institute of Technology : 3
California State University, Long Beach : 1
Capital Medical University : 3
Cardiff University : 3
Carleton University : 3
Carlos III University of Madrid : 2
Carnegie Mellon University : 3
Case Western Reserve University : 3
Catholic University of Korea : 2
Catholic University of the Sacred Heart : 3
Ca’ Foscari University of Venice : 1
Central China Normal University : 1
Central Queensland University : 1
Central South University : 2
Chalmers University of Technology : 3
Chang Gung University : 3
Charité - Universitätsmedizin Berlin : 1
Charles Darwin University : 2
Charles University in Prague : 3
Chemnitz University of Technology : 1
Chiang Mai University : 2
Chiba University : 3
China Agricultural University : 3
China Medical University (PRC) : 1
China Medical University (Taiwan) : 1
China Medical University, Taiwan : 1
China Pharmaceutical University : 1
China University of Geosciences (Wuhan) : 2
China University of Petroleum (Beijing) : 1
Chinese University of Hong Kong : 2
Chonbuk National University : 2
Chongqing University : 2
Chonnam National University : 2
Chosun University : 1
Chulalongkorn University : 2
Chung Shan Medical University : 1
Chung Yuan Christian University : 2
Chung-Ang University : 2
Chungbuk National University : 1
Chungnam National University : 3
City College of New York : 1
City University London : 2
City University of Hong Kong : 3
Clarkson University : 1
Claude Bernard University Lyon 1 : 3
Clemson University : 3
College of William and Mary : 1
Colorado School of Mines : 2
Colorado State University : 2
Colorado State University - Fort Collins : 1
Columbia University : 3
Comenius University in Bratislava : 2
Complutense University of Madrid : 3
Concordia University : 3
Copenhagen Business School : 1
Cornell University : 3
Coventry University : 1
Cranfield University : 2
Creighton University : 2
Curtin University : 3
Czech Technical University in Prague : 2
Dalhousie University : 3
Dalian University of Technology : 3
Dankook University : 1
Darmstadt University of Technology : 1
Dartmouth College : 3
De Montfort University : 1
Deakin University : 3
Delft University of Technology : 3
Dokuz Eylül University : 1
Dongguk University : 1
Donghua University : 1
Dresden University of Technology : 2
Drexel University : 3
Dublin City University : 2
Dublin Institute of Technology : 1
Duke University : 3
Durham University : 3
ETH Zurich – Swiss Federal Institute of Technology Zurich : 1
East Carolina University : 1
East China Normal University : 2
East China University of Science and Technology : 3
Edith Cowan University : 1
Ege University : 1
Ehime University : 3
Eindhoven University of Technology : 3
Emory University : 3
Erasmus University Rotterdam : 2
Erciyes University : 1
Ewha Womans University : 3
Eötvös Loránd University : 2
Federal University of ABC : 1
Federal University of Bahia : 2
Federal University of Ceará : 1
Federal University of Lavras : 1
Federal University of Minas Gerais : 3
Federal University of Paraná : 1
Federal University of Paraná (UFPR) : 1
Federal University of Pernambuco : 1
Federal University of Rio Grande do Sul : 3
Federal University of Rio de Janeiro : 3
Federal University of Santa Catarina : 2
Federal University of Santa Maria : 1
Federal University of São Carlos : 2
Federal University of São Paulo : 1
Federal University of Viçosa : 1
Federico Santa María Technical University : 2
Feng Chia University : 2
Flinders University : 3
Florida Atlantic University : 1
Florida Institute of Technology : 2
Florida International University : 3
Florida State University : 3
Fluminense Federal University : 1
Fourth Military Medical University : 1
Free University of Berlin : 2
Fu Jen Catholic University : 2
Fudan University : 3
Fukuoka University : 1
Fuzhou University : 1
G. d'Annunzio University, Chieti-Pescara : 1
Gachon University : 1
Gazi University : 1
Gdańsk University of Technology : 1
George Mason University : 3
George Washington University : 2
Georgetown University : 3
Georgia Health Sciences University : 1
Georgia Institute of Technology : 3
Georgia Regents University : 1
Georgia State University : 2
Ghent University : 3
Gifu University : 3
Glasgow Caledonian University : 1
Goethe University Frankfurt : 2
Graduate University for Advanced Studies : 1
Graz University of Technology : 2
Grenoble Institute of Technology : 1
Griffith University : 3
Guangxi University : 1
Gunma University : 2
Gwangju Institute of Science and Technology : 2
Gyeongsang National University : 1
Hacettepe University : 3
Hallym University : 1
Hamamatsu University School of Medicine : 1
Hannover Medical School : 2
Hanyang University : 3
Harbin Engineering University : 1
Harbin Institute of Technology : 3
Harbin Medical University : 1
Harvard University : 3
Hasselt University : 1
Hebrew University of Jerusalem : 2
Hefei University of Technology : 1
Heidelberg University : 2
Henan Normal University : 1
Heriot-Watt University : 2
Hirosaki University : 1
Hiroshima University : 3
Hokkaido University : 3
Hong Kong Baptist University : 2
Hong Kong Polytechnic University : 2
Hong Kong University of Science and Technology : 2
Howard University : 3
Huazhong Agricultural University : 1
Huazhong University of Science and Technology : 3
Humboldt University of Berlin : 2
Hunan Normal University : 1
Hunan University : 2
Hunter College : 1
I-Shou University : 2
Ibaraki University : 1
Icahn School of Medicine at Mount Sinai : 2
Illinois Institute of Technology : 2
Imperial College London : 2
Indian Institute of Science : 3
Indian Institute of Technology Bombay : 2
Indian Institute of Technology Delhi : 2
Indian Institute of Technology Guwahati : 1
Indian Institute of Technology Kanpur : 2
Indian Institute of Technology Kharagpur : 3
Indian Institute of Technology Madras : 2
Indian Institute of Technology Roorkee : 2
Indiana University : 1
Indiana University - Bloomington : 1
Indiana University-Purdue University Indianapolis : 1
Inha University : 2
Inje University : 1
Innsbruck Medical University : 1
Institut national des sciences Appliquées de Lyon : 1
Instituto Superior Técnico Lisboa : 1
International School for Advanced Studies : 2
Iowa State University : 3
Iran University of Science and Technology : 2
Isfahan University of Technology : 2
Istanbul Technical University : 2
Istanbul University : 3
Jacobs University Bremen : 1
Jadavpur University : 2
Jagiellonian University : 3
James Cook University : 3
Jaume I University : 1
Jawaharlal Nehru Centre for Advanced Scientific Research : 1
Jean Monnet University : 1
Jiangnan University : 1
Jiangsu University : 1
Jichi Medical University : 1
Jikei University School of Medicine : 1
Jilin University : 3
Jinan University : 1
Johannes Gutenberg University of Mainz : 2
Johannes Kepler University of Linz : 2
Johns Hopkins University : 3
Jordan University of Science and Technology : 1
Joseph Fourier University : 2
Julius-Maximilian's University of Würzburg : 1
Juntendo University : 3
Justus Liebig University Giessen : 2
K.N. Toosi University of Technology : 1
KTH Royal Institute of Technology : 2
KU Leuven : 2
Kagoshima University : 2
Kaiserslautern University of Technology : 1
Kanazawa University : 3
Kangwon National University : 1
Kansas State University : 3
Kaohsiung Medical University : 2
Karlsruhe Institute of Technology : 2
Karolinska Institute : 3
Katholieke Universiteit Leuven : 1
Kazan Federal University : 1
Keele University : 2
Keio University : 3
Kent State University : 3
Khon Kaen University : 1
Kindai University : 1
King Abdulaziz University : 3
King Abdullah University of Science and Technology : 2
King Fahd University of Petroleum and Minerals : 2
King Juan Carlos University : 1
King Mongkut’s University of Technology Thonburi : 1
King Saud University : 3
King's College London : 2
Kingston University : 1
King’s College London : 1
Kinki University : 1
Kitasato University : 1
Kobe University : 3
Konkuk University : 2
Korea Advanced Institute of Science and Technology (KAIST) : 2
Korea University : 3
Koç University : 1
Kumamoto University : 3
Kurume University : 1
Kyoto Institute of Technology : 1
Kyoto Prefectural University of Medicine : 1
Kyoto University : 3
Kyung Hee University : 3
Kyungpook National University : 3
Kyushu Institute of Technology : 1
Kyushu University : 3
Kōchi University : 1
LMU Munich : 1
LSU Health Sciences Center New Orleans : 1
La Trobe University : 3
Lancaster University : 3
Lanzhou University : 2
Lappeenranta University of Technology : 1
Laval University : 3
Lehigh University : 3
Leibniz University of Hanover : 1
Leiden University : 3
Leipzig University : 1
Lille 1 University – Science and Technology : 1
Lille 2 University of Health and Law : 1
Lille 2 University – Health and Law : 1
Linköping University : 2
Liverpool John Moores University : 2
Loma Linda University : 1
Lomonosov Moscow State University : 2
London School of Economics : 1
London School of Economics and Political Science : 2
London School of Hygiene & Tropical Medicine : 2
Loughborough University : 3
Louisiana State University : 1
Louisiana State University - Baton Rouge : 2
Louisiana Tech University : 1
Loyola University Chicago : 2
Ludwig Maximilian University of Munich : 1
Lund University : 3
Maastricht University : 3
Macquarie University : 3
Magna Græcia University of Catanzaro : 1
Mahidol University : 2
Makerere University : 2
Manchester Metropolitan University : 2
Mansoura University : 1
Marche Polytechnic University : 2
Marquette University : 1
Martin Luther University of Halle-Wittenberg : 1
Masaryk University : 2
Massachusetts Institute of Technology : 2
Massey University : 3
McGill University : 3
McMaster University : 3
Medical College of Wisconsin : 3
Medical University of Graz : 2
Medical University of South Carolina : 3
Medical University of Vienna : 3
Memorial University of Newfoundland : 3
Miami University : 2
Michigan State University : 3
Michigan Technological University : 3
Middle East Technical University : 2
Middlesex University : 1
Mie University : 1
Miguel Hernández University of Elche : 1
Mines ParisTech : 2
Mississippi State University : 2
Missouri University of Science and Technology : 2
Monash University : 3
Montana State University : 1
Montana State University - Bozeman : 2
Monterrey Institute of Technology and Higher Education : 1
Montpellier University : 1
Moscow Institute of Physics and Technology : 2
Murdoch University : 3
Nagasaki University : 3
Nagoya City University : 1
Nagoya Institute of Technology : 1
Nagoya University : 3
Nanjing Agricultural University : 1
Nanjing Medical University : 2
Nanjing Normal University : 1
Nanjing University : 3
Nanjing University of Aeronautics and Astronautics : 1
Nanjing University of Science and Technology : 1
Nanjing University of Technology : 1
Nankai University : 2
Nanyang Technological University : 3
Nara Institute of Science and Technology : 2
National Autonomous University of Mexico : 3
National Central University : 3
National Cheng Kung University : 3
National Chengchi University : 1
National Chiao Tung University : 3
National Chung Cheng University : 2
National Chung Hsing University : 2
National Dong Hwa University : 1
National Institute of Applied Sciences of Lyon (INSA Lyon) : 1
National Polytechnic Institute : 1
National Polytechnic Institute of Toulouse : 1
National Research Nuclear University MEPhI : 1
National Research Nuclear University MePhI : 1
National Sun Yat-Sen University : 2
National Sun Yat-sen University : 1
National Taipei University of Technology : 2
National Taiwan Normal University : 2
National Taiwan Ocean University : 2
National Taiwan University : 3
National Taiwan University of Science and Technology : 1
National Taiwan University of Science and Technology (Taiwan Tech) : 1
National Technical University of Athens : 2
National Tsing Hua University : 3
National University of Colombia : 1
National University of Córdoba : 2
National University of Defense Technology : 1
National University of Ireland, Galway : 2
National University of Ireland, Maynooth : 2
National University of La Plata : 1
National University of Rosario : 1
National University of Science and Technology (MISiS) : 1
National University of Sciences and Technology : 1
National University of Singapore : 3
National Yang-Ming University : 2
National and Kapodistrian University of Athens : 3
New Jersey Institute of Technology : 3
New Mexico State University : 3
New University of Lisbon : 1
New York Medical College : 1
New York University : 3
Newcastle University : 3
Nicolaus Copernicus University in Toruń : 1
Nihon University : 2
Niigata University : 3
North Carolina State University : 2
North Dakota State University - Main Campus : 1
Northeast Normal University : 1
Northeastern University : 3
Northeastern University (China) : 1
Northern Arizona University : 2
Northern Illinois University : 1
Northumbria University : 1
Northwest A&F University : 1
Northwest University (China) : 1
Northwestern Polytechnical University : 2
Northwestern University : 3
Norwegian University of Life Sciences : 1
Norwegian University of Science and Technology : 3
Nottingham Trent University : 1
Novosibirsk State University : 2
Oakland University : 2
Ocean University of China : 2
Ohio State University : 1
Ohio State University, Columbus : 1
Ohio University : 3
Okayama University : 3
Oklahoma State University : 2
Oklahoma State University–Stillwater : 1
Old Dominion University : 3
Open University (UK) : 1
Oregon Health & Science University : 1
Oregon Health and Science University : 2
Oregon State University : 3
Osaka City University : 3
Osaka Prefecture University : 3
Osaka University : 3
Otto von Guericke University of Magdeburg : 1
Otto-von-Guericke University Magdeburg : 1
Oxford Brookes University : 1
Palacký University in Olomouc : 1
Palacký University, Olomouc : 1
Panjab University : 2
Panthéon-Sorbonne University – Paris 1 : 1
Paris Dauphine University : 1
Paris Descartes University : 2
Paris Diderot University - Paris 7 : 1
Paris Diderot University – Paris 7 : 1
Paris-Est Créteil Val-de-Marne University : 1
Paris-Sorbonne University – Paris 4 : 1
Paris-Sud University : 1
Paul Sabatier University - Toulouse III : 1
Paul Valéry University, Montpellier III : 1
Peking Union Medical College : 2
Peking University : 3
Pennsylvania State University : 1
Pennsylvania State University, University Park : 1
Peter the Great St Petersburg Polytechnic University : 1
Pierre and Marie Curie University : 1
Pierre-and-Marie-Curie University : 1
Plymouth University : 2
Pohang University of Science and Technology : 3
Polytechnic University of Catalonia : 3
Polytechnic University of Milan : 2
Polytechnic University of Turin : 3
Polytechnic University of Valencia : 3
Pompeu Fabra University : 3
Pontifical Catholic University of Chile : 2
Pontifical Catholic University of Paraná : 1
Pontifical Catholic University of Rio Grande do Sul (PUCRS) : 1
Pontifical Catholic University of Rio de Janeiro (PUC-Rio) : 1
Pontifical Catholic University of Valparaíso : 1
Portland State University : 3
Prince of Songkla University : 1
Princeton University : 3
Public University of Navarre : 1
Pukyong National University : 1

Purdue University : 1
Purdue University, West Lafayette : 1
Pusan National University : 3
Putra University, Malaysia : 1
Qatar University : 1
Quaid-i-azam University : 1
Queen Mary University of London : 3
Queen's University : 2
Queen's University Belfast : 2
Queens College, City University of New York : 1
Queensland University of Technology : 3
Queen’s University : 1
Queen’s University Belfast : 1
RMIT University : 2
RWTH Aachen University : 3
Radboud University Nijmegen : 3
Renmin University of China : 2
Rensselaer Polytechnic Institute : 3
Rice University : 3
Rio de Janeiro State University : 1
Rio de Janeiro State University (UERJ) : 1
Ritsumeikan University : 1
Rochester Institute of Technology : 2
Rockefeller University : 2
Roma Tre University : 1
Rovira i Virgili University : 1
Royal College of Surgeons in Ireland : 2
Royal Holloway, University of London : 2
Royal Institute of Technology : 2
Royal Veterinary College : 1
Royal Veterinary College, University of London : 1
Ruhr University Bochum : 2
Ruprecht Karl University of Heidelberg : 1
Rush University : 3
Rutgers University-New Brunswick : 1
Rutgers, The State University of New Jersey - Newark : 1
Rutgers, the State University of New Jersey : 1
Ryerson University : 1
SUNY Downstate Medical Center : 1
Saarland University : 2
Sabancı University : 1
Saga University : 1
Saint Louis University : 3
Saint Petersburg State University : 3
Saitama Medical University : 1
Saitama University : 2
San Diego State University : 3
San Francisco State University : 1
Sapienza University of Rome : 3
Sapporo Medical University : 1
Savitribai Phule Pune University : 1
Scuola Normale Superiore di Pisa : 2
Scuola Superiore Sant’Anna : 1
Second Military Medical University : 1
Second University of Naples : 1
Sejong University : 2
Semmelweis University : 2
Seoul National University : 3
Shaanxi Normal University : 1
Shahid Beheshti University : 1
Shahid Beheshti University of Medical Sciences : 1
Shandong University : 2
Shanghai Jiao Tong University : 3
Shanghai Normal University : 1
Shanghai University : 2
Shantou University : 1
Shanxi University : 1
Sharif University of Technology : 3
Sheffield Hallam University : 1
Shenzhen University : 1
Shimane University : 1
Shinshu University : 2
Shiraz University : 1
Shizuoka University : 1
Showa University : 2
Sichuan University : 3
Simon Fraser University : 3
Slovak University of Technology in Bratislava : 1
Sofia University : 1
Sogang University : 2
Soochow University : 2
Soochow University (Suzhou) : 1
Sophia University : 1
South China Agricultural University : 1
South China Normal University : 1
South China University of Technology : 3
Southeast University : 2
Southern Cross University : 1
Southern Federal University : 1
Southern Illinois University Carbondale : 1
Southern Medical University : 1
Southern Methodist University : 3
Southwest Jiaotong University : 1
Southwest University : 1
St George's, University of London : 1
St George’s, University of London : 1
Stanford University : 3
State University of Campinas : 2
State University of New York Albany : 1
State University of New York Upstate Medical University : 1
Stellenbosch University : 3
Stockholm University : 3
Stony Brook University : 3
Suez Canal University : 1
Sultan Qaboos University : 1
Sun Yat-sen University : 3
Sungkyunkwan University : 2
Sungkyunkwan University (SKKU) : 1
Suranaree University of Technology : 1
Swansea University : 2
Swedish University of Agricultural Sciences : 3
Swinburne University of Technology : 3
Swiss Federal Institute of Technology in Lausanne : 1
Swiss Federal Institute of Technology in Zurich : 1
Syracuse University : 3
São Paulo State University (UNESP) : 1
TU Dresden : 2
Taipei Medical University : 2
Tallinn University of Technology : 1
Tamkang University : 1
Tampere University of Technology : 2
Taras Shevchenko National University of Kyiv : 1
Tarbiat Modares University : 1
Tata Institute of Fundamental Research : 1
Technical University of Berlin : 3
Technical University of Darmstadt : 1
Technical University of Denmark : 3
Technical University of Dortmund : 2
Technical University of Madrid : 2
Technical University of Munich : 2
Technion Israel Institute of Technology : 1
Technion – Israel Institute of Technology : 1
Tehran University of Medical Sciences : 2
Teikyo University : 1
Tel Aviv University : 3
Temple University : 3
Texas A&M Health Science Center : 1
Texas A&M University : 2
Texas A&M University, College Station : 1
Texas Tech University : 2
Texas Tech University (TTU) : 1
The Catholic University of America : 1
The Open University : 2
The University of Queensland : 2
Third Military Medical University : 1
Thomas Jefferson University : 2
Tianjin Medical University : 1
Tianjin University : 3
Tilburg University : 3
Toho University : 1
Tohoku University : 3
Tokai University : 2
Tokushima University : 1
Tokyo Institute of Technology : 3
Tokyo Medical and Dental University : 2
Tokyo Medical and Dental University (TMDU) : 1
Tokyo Metropolitan University : 3
Tokyo University of Agriculture and Technology : 3
Tokyo University of Marine Science and Technology : 1
Tokyo University of Science : 3
Tokyo Women's Medical University : 1
Tomsk Polytechnic University : 1
Tomsk State University : 1
Tongji University : 3
Tottori University : 2
Toulouse 1 Capitole University : 1
Toyohashi University of Technology : 1
Trent University : 1
Trinity College Dublin : 2
Trinity College, Dublin : 1
Tsinghua University : 3
Tufts University : 3
Tulane University : 3
UNESP, São Paulo State University : 1
UiT The Arctic University of Norway : 1
Ulm University : 1
Ulsan National Institute of Science and Technology : 1
Ulster University : 1
Umeå University : 2
United Arab Emirates University : 2
Universidade Nova de Lisboa : 1
Universiti Kebangsaan Malaysia : 1
Universiti Putra Malaysia : 1
Universiti Sains Malaysia : 1
Universiti Teknologi MARA : 1
Universiti Teknologi Malaysia : 1
University College Cork : 3
University College Dublin : 3
University College London : 3
University François Rabelais, Tours : 1
University Lille 1: Sciences and Technologies : 1
University at Albany, SUNY : 1
University at Buffalo : 1
University at Buffalo, The State University of New York : 1
University of A Coruña : 2
University of Aberdeen : 3
University of Adelaide : 2
University of Akron : 1
University of Alabama - Tuscaloosa : 1
University of Alabama at Birmingham : 2
University of Alabama in Huntsville : 1
University of Alaska Fairbanks : 2
University of Alberta : 3
University of Alcalá : 2
University of Alicante : 1
University of Almería : 1
University of Amsterdam : 3
University of Angers : 1
University of Antioquia : 1
University of Antwerp : 3
University of Arizona : 3
University of Arkansas : 1
University of Arkansas - Fayetteville : 1
University of Arkansas for Medical Sciences : 1
University of Auckland : 2
University of Augsburg : 1
University of Aveiro : 2
University of Barcelona : 3
University of Bari Aldo Moro : 2
University of Basel : 3
University of Basilicata : 1
University of Bath : 3
University of Bayreuth : 2
University of Belgrade : 3
University of Bergen : 3
University of Bern : 3
University of Birmingham : 3
University of Bologna : 3
University of Bonn : 3
University of Bordeaux : 3
University of Bordeaux I : 1
University of Bordeaux II : 1
University of Bradford : 3
University of Brasília : 2
University of Bremen : 3
University of Brescia : 2
University of Brighton : 2
University of Bristol : 3
University of British Columbia : 3
University of Bucharest : 2
University of Buenos Aires : 2
University of Burgundy : 2
University of Caen Lower Normandy : 1
University of Cagliari : 3
University of Calabria : 1
University of Calcutta : 3
University of Calgary : 2
University of California, Berkeley : 3
University of California, Davis : 3
University of California, Irvine : 3
University of California, Los Angeles : 3
University of California, Merced : 1
University of California, Riverside : 3
University of California, San Diego : 3
University of California, San Francisco : 2
University of California, Santa Barbara : 3
University of California, Santa Cruz : 3
University of Cambridge : 3
University of Camerino : 1
University of Campinas : 2
University of Canberra : 1
University of Cantabria : 1
University of Canterbury : 3
University of Cape Town : 3
University of Castilla-La Mancha : 1
University of Castilla–La Mancha : 1
University of Catania : 2
University of Central Florida : 2
University of Central Lancashire : 2
University of Cergy-Pontoise : 1
University of Chemistry and Technology, Prague : 2
University of Chicago : 3
University of Chile : 3
University of Cincinnati : 3
University of Coimbra : 3
University of Cologne : 2
University of Colorado Boulder : 2
University of Colorado Denver : 1
University of Concepción : 1
University of Connecticut : 3
University of Copenhagen : 3
University of Crete : 2
University of Cyprus : 2
University of Cádiz : 1
University of Córdoba (Spain) : 1
University of Dayton : 1
University of Debrecen : 2
University of Delaware : 3
University of Delhi : 2
University of Denver : 1
University of Dhaka : 1
University of Duisburg-Essen : 3
University of Dundee : 2
University of Düsseldorf : 1

University of East Anglia : 3
University of Eastern Finland : 3
University of Eastern Piedmont Amedeo Avogadro"" : 1
University of Edinburgh : 2
University of Electro-Communications : 1
University of Electronic Science and Technology of China : 2
University of Erlangen-Nuremberg : 3
University of Essex : 3
University of Exeter : 3
University of Extremadura : 1
University of Ferrara : 3
University of Florence : 3
University of Florida : 3
University of Franche-Comté : 1
University of Freiburg : 2
University of Fribourg : 3
University of Fukui : 1
University of Geneva : 3
University of Genoa : 3
University of Georgia : 2
University of Ghana : 1
University of Girona : 1
University of Glasgow : 2
University of Gothenburg : 3
University of Granada : 3
University of Graz : 3
University of Greenwich : 1
University of Greifswald : 3
University of Groningen : 3
University of Guelph : 3
University of Göttingen : 2
University of Haifa : 3
University of Hamburg : 3
University of Hanover : 1
University of Hawaii at Manoa : 2
University of Hawai’i at Mānoa : 1
University of Helsinki : 3
University of Hertfordshire : 3
University of Hohenheim : 2
University of Hong Kong : 2
University of Houston : 3
University of Huddersfield : 1
University of Hull : 2
University of Hyderabad : 1
University of Hyogo : 1
University of Ibadan : 1
University of Iceland : 2
University of Idaho : 3
University of Illinois at Chicago : 3
University of Illinois at Urbana-Champaign : 2
University of Illinois at Urbana–Champaign : 1
University of Indonesia : 1
University of Innsbruck : 3
University of Insubria : 1
University of Ioannina : 2
University of Iowa : 3
University of Jaén : 1
University of Jena : 2
University of Jordan : 1
University of Jyväskylä : 2
University of Kaiserslautern : 1
University of Kansas : 3
University of Kent : 2
University of Kentucky : 3
University of Kiel : 3
University of Konstanz : 3
University of KwaZulu-Natal : 3
University of L'Aquila : 1
University of La Laguna : 2
University of Latvia : 1
University of Lausanne : 3
University of Leeds : 3
University of Leicester : 3
University of Lethbridge : 1
University of Limerick : 2
University of Lincoln : 1
University of Lisbon : 3
University of Liverpool : 3
University of Liège : 2
University of Ljubljana : 3
University of Lleida : 1
University of Lorraine : 2
University of Los Andes (Colombia) : 1
University of Louisville : 2
University of Luxembourg : 1
University of Lübeck : 1
University of Macau : 1
University of Maine (Le Mans) : 1
University of Maine, Orono : 1
University of Malaya : 2
University of Manchester : 2
University of Manitoba : 3
University of Mannheim : 2
University of Marburg : 2
University of Maribor : 2
University of Marrakech Cadi Ayyad : 1
University of Maryland, Baltimore : 2
University of Maryland, Baltimore County : 3
University of Maryland, College Park : 3
University of Massachusetts : 1
University of Massachusetts Amherst : 2
University of Massachusetts Boston : 1
University of Massachusetts Lowell : 1
University of Massachusetts Medical School : 1
University of Medicine and Dentistry of New Jersey : 1
University of Melbourne : 3
University of Memphis : 1
University of Messina : 1
University of Miami : 3
University of Michigan : 1
University of Michigan, Ann Arbor : 1
University of Milan : 3
University of Milan - Bicocca : 2
University of Milan-Bicocca : 1
University of Minho : 2
University of Minnesota : 1
University of Minnesota, Twin Cities : 2
University of Mississippi - Oxford Campus : 1
University of Mississippi Medical Center : 1
University of Missouri : 1
University of Missouri–Columbia : 1
University of Missouri–Kansas City : 1
University of Missouri–St. Louis : 1
University of Miyazaki : 1
University of Modena and Reggio Emilia : 2
University of Mons : 1
University of Montana : 1
University of Montana - Missoula : 2
University of Montpellier : 2
University of Montpellier 1 : 1
University of Montpellier 2 : 2
University of Montreal : 3
University of Murcia : 2
University of Málaga : 1
University of Münster : 2
University of Nairobi : 1
University of Nantes : 2
University of Naples Federico II : 3
University of Natural Resources and Life Sciences, Vienna : 1
University of Navarra : 2
University of Nebraska Medical Center : 3
University of Nebraska Omaha : 1
University of Nebraska-Lincoln : 1
University of Nebraska–Lincoln : 1
University of Neuchâtel : 2
University of Nevada, Las Vegas : 1
University of Nevada, Reno : 1
University of New Brunswick : 1
University of New England (Australia) : 1
University of New Hampshire : 1
University of New Mexico : 2
University of New Orleans : 1
University of New South Wales : 3
University of Newcastle : 3
University of Nice Sophia Antipolis : 3
University of North Carolina at Chapel Hill : 3
University of North Carolina at Charlotte : 1
University of North Carolina at Greensboro : 2
University of North Dakota : 1
University of North Texas, Denton : 1
University of Notre Dame : 3
University of Nottingham : 3
University of Oklahoma : 1
University of Oklahoma - Norman Campus : 1
University of Oklahoma Health Sciences Center : 1
University of Oldenburg : 1
University of Oregon : 3
University of Orléans : 1
University of Oslo : 3
University of Osnabrück : 1
University of Otago : 3
University of Ottawa : 3
University of Oulu : 3
University of Oviedo : 2
University of Oxford : 3
University of Padua : 3
University of Palermo : 3
University of Pardubice : 1
University of Paris 13 : 1
University of Paris North – Paris 13 : 1
University of Paris-Sud : 1
University of Parma : 3
University of Patras : 2
University of Pau and Pays de l'Adour : 1
University of Pavia : 3
University of Pennsylvania : 3
University of Perpignan Via Domitia : 1
University of Perugia : 2
University of Picardie Jules Verne : 1
University of Pisa : 3
University of Pittsburgh : 2
University of Pittsburgh - Pittsburgh Campus : 1
University of Poitiers : 1
University of Porto : 3
University of Portsmouth : 2
University of Potsdam : 1
University of Pretoria : 3
University of Puerto Rico at Mayagüez : 1
University of Pécs : 2
University of Queensland : 1
University of Québec at Montreal : 1
University of Reading : 2
University of Regensburg : 2
University of Regina : 2
University of Reims Champagne-Ardenne : 1
University of Rennes 1 : 3
University of Rhode Island : 2
University of Rochester : 3
University of Rome II – Tor Vergata : 1
University of Rome III : 1
University of Rome Tor Vergata : 1
University of Rostock : 2
University of Rouen : 1
University of Rovira i Virgili : 1
University of Salamanca : 2
University of Salento : 2
University of Salerno : 1
University of Salford : 1
University of Salzburg : 1
University of San Francisco : 1
University of Santiago de Compostela : 2
University of Santiago, Chile (USACH) : 1
University of Saskatchewan : 3
University of Sassari : 1
University of Savoy : 1
University of Science and Technology Beijing : 2
University of Science and Technology of China : 3
University of Science, Malaysia : 2
University of Seoul : 2
University of Seville : 3
University of Sheffield : 2
University of Sherbrooke : 2
University of Siegen : 1
University of Siena : 3
University of Silesia : 1
University of Silesia in Katowice : 1
University of South Africa : 1
University of South Alabama : 1
University of South Australia : 2
University of South Carolina : 1
University of South Carolina - Columbia : 2
University of South Dakota : 1
University of South Florida : 2
University of South Florida - Tampa : 1
University of Southampton : 3
University of Southern California : 3
University of Southern Denmark : 3
University of Southern Mississippi : 2
University of Southern Queensland : 1
University of St Andrews : 3
University of St Gallen : 1
University of Stirling : 2
University of Strasbourg : 3
University of Strathclyde : 3
University of Stuttgart : 3
University of Surrey : 3
University of Sussex : 3
University of Sydney : 3
University of Szeged : 3
University of São Paulo : 2
University of Tampere : 2
University of Tartu : 2
University of Tasmania : 3
University of Technology Sydney : 1
University of Technology, Sydney : 2
University of Tehran : 3
University of Tennessee, Knoxville : 2
University of Texas Health Science Center at Houston : 1
University of Texas Health Science Center at San Antonio : 1
University of Texas MD Anderson Cancer Center : 1
University of Texas Medical Branch at Galveston : 1
University of Texas Southwestern Medical Center : 1
University of Texas at Arlington : 2
University of Texas at Austin : 2
University of Texas at Dallas : 2
University of Texas at El Paso : 2
University of Texas at San Antonio : 2
University of Thessaly : 1
University of Tokushima : 1
University of Tokyo : 2
University of Toledo : 2
University of Toronto : 3
University of Toyama : 1
University of Trento : 2
University of Trieste : 3
University of Tromsø - The Arctic University of Norway : 1
University of Tsukuba : 3
University of Tulsa : 1
University of Turin : 3
University of Turku : 3
University of Twente : 3
University of Tübingen : 2
University of Udine : 1
University of Ulm : 2
University of Ulsan : 2
University of Ulster : 1
University of Urbino Carlo Bo : 1
University of Utah : 3
University of Valencia : 3
University of Valenciennes and Hainaut-Cambresis : 1
University of Valladolid : 1
University of Vermont : 3
University of Verona : 1
University of Veterinary Medicine Vienna : 1
University of Victoria : 3
University of Vienna : 3
University of Vigo : 3
University of Virginia : 3
University of Waikato : 2
University of Wales, Trinity Saint David : 1
University of Warsaw : 3
University of Warwick : 3
University of Washington : 2
University of Washington - Seattle : 1
University of Waterloo : 3
University of West Bohemia : 1
University of Western Australia : 2
University of Western Brittany : 1
University of Western Ontario : 1
University of Western Sydney : 1
University of Westminster : 1
University of Windsor : 1
University of Wisconsin : 1
University of Wisconsin-Madison : 1
University of Wisconsin-Milwaukee : 1
University of Wisconsin–Madison : 1
University of Wisconsin–Milwaukee : 1
University of Wollongong : 3
University of Wrocław : 1
University of Wyoming : 3

University of Würzburg : 1
University of Yamanashi : 1
University of York : 3
University of Zagreb : 2
University of Zaragoza : 3
University of Zurich : 3
University of the Algarve : 1
University of the Andes, Colombia : 1
University of the Balearic Islands : 1
University of the Basque Country : 3
University of the Republic (Uruguay) : 1
University of the Ryukyus : 1
University of the West of England : 1
University of the Witwatersrand : 3
University of Évry Val d'Essonne : 1
Université Catholique de Louvain : 1
Université Libre de Bruxelles : 1
Université catholique de Louvain : 1
Université de Namur : 1
Université de Sherbrooke : 1
Université du Québec à Montréal : 1
Université libre de Bruxelles : 1
Uppsala University : 3
Ural Federal University : 1
Utah State University : 2
Utrecht University : 3
V.N. Karazin Kharkiv National University : 1
VU University Amsterdam : 3
Vanderbilt University : 3
Verona University : 1
Versailles Saint-Quentin-en-Yvelines University : 1
Victoria University of Wellington : 3
Vienna University of Technology : 3
Vilnius University : 2
Virginia Commonwealth University : 2
Virginia Polytechnic Institute and State University : 3
Vita-Salute San Raffaele University : 1
Vrije Universiteit Brussel : 2
VŠB - Technical University of Ostrava : 1
Wageningen University and Research Center : 1
Wageningen University and Research Centre : 1
Wake Forest University : 3
Warsaw University of Technology : 2
Waseda University : 3
Washington State University : 2
Washington State University, Pullman : 1
Washington University in St Louis : 1
Washington University in St. Louis : 2
Wayne State University : 3
Weizmann Institute of Science : 2
Wesleyan University : 1
West University of Timişoara : 1
West Virginia University : 2
Western Michigan University : 1
Western Sydney University : 1
Western University (The University of Western Ontario) : 2
Wilfrid Laurier University : 1
William & Mary : 1
Williams College : 1
Wright State University - Dayton : 1
Wrocław University of Technology : 1
Wuhan University : 3
Wuhan University of Technology : 2
Xi'an Jiaotong University : 1
Xiamen University : 3
Xiangtan University : 1
Xidian University : 2
Xi’an Jiaotong University : 1
Yale University : 3
Yamagata University : 1
Yamaguchi University : 2
Yanbian University : 1
Yangzhou University : 1
Yeshiva University : 3
Yeungnam University : 2
Yokohama City University : 2
Yokohama National University : 2
Yonsei University : 3
York University : 3
Yuan Ze University : 2
Yıldız Technical University : 1
Zhejiang Normal University : 1
Zhejiang University : 3
Zhejiang University of Technology : 1
Zhengzhou University : 1
Åbo Akademi University : 1
École Centrale Paris : 1
École Normale Supérieure : 1
École Normale Supérieure de Lyon : 1
École Polytechnique : 2
École Polytechnique Fédérale de Lausanne : 1
École Polytechnique de Montréal : 1
École centrale de Lyon : 1
École normale supérieure - Paris : 1
École normale supérieure de Cachan : 1
École normale supérieure de Lyon : 1
Örebro University : 2

### 11. In the times ranking, compute the number of times each university appears <font color='green'>Done</font>

In [11]:
timesData.groupby("university_name").size()

university_name
AGH University of Science and Technology    1
Aalborg University                          5
Aalto University                            5
Aarhus University                           6
Aberystwyth University                      5
                                           ..
École Normale Supérieure                    6
École Normale Supérieure de Lyon            6
École Polytechnique                         6
École Polytechnique Fédérale de Lausanne    6
Örebro University                           1
Length: 818, dtype: int64

### 12. Find the universities that appear at most twice in the times ranking. <font color='green'>Done</font>

In [12]:
timesData.groupby("university_name").size()[timesData.groupby("university_name").size() <= 2]

university_name
AGH University of Science and Technology    1
Adam Mickiewicz University                  1
Aix-Marseille University                    1
Ajou University                             1
Alexandru Ioan Cuza University              1
                                           ..
Yokohama City University                    1
Yokohama National University                1
Yuan Ze University                          2
Yıldız Technical University                 1
Örebro University                           1
Length: 408, dtype: int64

### 13. The universities that, in any year, have the same position in all three rankings (they must have the same position in a year). <font color='green'>Done</font>

In [13]:
#per una questione di ordine, da ogni dataset dei tre ranking ottengo dei dataset derivati contenenti il nome università, l'anno e il ranking relativo
timesUniYearRank = timesData[["university_name","year","world_rank"]]
shanghaiUniYearRank = shanghaiData[["university_name","year","world_rank"]]
cwurUniYearRank = cwurData[["institution","year","world_rank"]]
cwurUniYearRank = cwurUniYearRank.rename(columns={"institution":"university_name"})
#converto la colonna "world_rank" del dataset cwur in una stringa per avere omogeneità di tipo
try:
    cwurUniYearRank = cwurUniYearRank.astype({'world_rank': 'str'})
except:
    print("Non è stato possibile convertire la colonna world_rank")
#il dataset che voglio ottenere è composto da solo quelle row presenti in ogni dataset tra quelli formati in precedenza
sameRanking = timesUniYearRank.merge(shanghaiUniYearRank,on=["university_name","year","world_rank"]).merge(cwurUniYearRank,on=["university_name","year","world_rank"])
sameRanking

       university_name  year world_rank
0  Stanford University  2013          2